.page{
	font-family: times;
	font-size: 24px;
	width: 80%;
	height: 50%;
	margin:auto;
}

.img{
	text-align: center;
	margin-bottom: 10px;
}

.needcenter{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.button{
	font-family: times;
	margin-left: auto;margin-right: auto;
	font-size: 20px;
	cursor:pointer;
	display: block;
}

.continuelink{
	text-decoration: none;
	color:black;
}

.quiz1choice{
	display: inline-block; margin-left: 8px;margin-right: 15px;
}
#quiz1feedback, #quiz2feedback{
	text-align: center;
}

.choice{
	display: inline-block; margin-left: 8px;margin-right: 15px;
}
#quiz1continue, #quiz2continue{
	height:35px;
	font-family: times;
	margin-left: auto;margin-right: auto;
	font-size: 20px;
	cursor:pointer;
	display: block;
}

.button:disabled {
    opacity: 0.3;
}